body {
       background-image: url("https://thumbs.dreamstime.com/b/fondo-italiano-de-la-bandera-del-vintage-textura-de-madera-del-tabl%C3%B3n-54512274.jpg");
              
    }
         h1 {
            color: rgb(0, 0, 0);
        }
        img {  
             width: 400px;
        }
          div {
            
          }

    .divClass {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #thirdDiv {
                       width: 500px;
            height: 600px;
            background-color: rgb(255, 246, 193);
            padding: 50px;
            border: 5px;
            border-color: rgb(0, 0, 0);
            border-style:ridge;
            
        }
        #spanId {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            margin: 50px;
        }
    